%h1 Templates
%p Hello there, here are all the templates you have made.
%p
  You can
  = link_to "make a new template", new_template_path
  or edit one below.

%ul
  - for template in @templates do
    %li
      = link_to template.title, edit_template_path(template)
      , a
      = template.format.upcase
      template.
