/*
	Place all the styles related to the matching controller here.
	They will automatically be included in application.css.
 */

/*
	Global settings
 */

$icons: "Entypo";
$teal: #4ea694;
$blue: #5e8fc2;
$orange: #e53900;

html, body {
	width: 100%;
	min-width: 800px;
}

html {
	height: 100%;
	font-family: Arial, Verdana, sans-serif;
	margin: 0em;
}


/*
	Header bar
 */
header {
	width: 100%;
	height: 2em;
	background-color: #E43800;
	padding: 0;
}

#welcome-text {
	display: inline-block;
	color: white;
	padding: 0.6em 1em;
	font-size: 0.8em;

	a {
		color: white;
	}
}

#return-text {
	float: right;
	color: white;
	padding: 0.6em 1em;
	font-size: 0.8em;
}

/*
	Toolbar, below header bar
 */
nav {
	width: 100%;
	display: block;
	position: relative;
	height: 5em;
	padding: 0em;
	border-bottom: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
}

#title-container {
	float: left;
	height: 2em;
	padding: 1.5em 4em;
	border-right: 2px solid #E0E0E0;
}

#company-name {
	float: left;
	font-size: 2em;
	padding-right: 0.5em;
	text-transform: uppercase;
}

#reports-text {
	float: left;
	font-size: 1.6em;
	color: #505050;
	padding-top: 0.2em;
}


#all-button {
	float: left;
	height: 3em;
	width: 3em;
	padding: 1em;
	border-right: 2px solid #E0E0E0;
	text-align: center;
}

#all-button-icon {
	font-family: $icons;
	padding-bottom: 1em;
	font-size: 3em;
	line-height: 0.7em;
	margin-bottom: -0.8em;
}

#all-button-text {
	font-size: 0.7em;
}

#queued-button {
	float: left;
	height: 3em;
	width: 4.5em;
	padding: 1em;
	border-right: 2px solid #E0E0E0;
	text-align: center;
}

#queued-button-icon {
	font-family: $icons;
	padding-bottom: 1em;
	font-size: 3em;
	line-height: 0.7em;
	margin-bottom: -0.8em;
}

#queued-button-text {
	font-size: 0.7em;
}

#completed-button {
	float: left;
	height: 3em;
	width: 3em;
	padding: 1em;
	border-right: 2px solid #E0E0E0;
	text-align: center;
}

#completed-button-icon {
	font-family: $icons;
	padding-bottom: 1em;
	font-size: 3em;
	line-height: 0.7em;
	margin-bottom: -0.8em;
}

#completed-button-text {
	font-size: 0.7em;
}

section {
	background-color: #F0F0F0;
	min-height: 50em;
	border-top: 1px solid #D8D8D8;

	padding-top: 2em;
	padding-left: 10%;
	padding-right: 10%;

	h1 {
		font-size: 2em;
		margin-bottom: 1em;
		border-bottom: 1px solid hsl(0, 0, 90%);
	}

	.button {
		display: block;
		border-radius: 5px;
		// width: 100px;
		// height: 35px;
		color: white;

		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		text-align: center;

		box-shadow: 0px 1px 3px hsla(0, 0, 0%, 0.2);

		border: solid 1px darken($teal, 10%);

		background-color: $teal;
		text-decoration: none;

		font-size: 0.9em;

		&.view {
			background-color: $teal;
			border-color: darken($teal, 10%);
		}
		&.retry {
			background-color: $blue;
			border-color: darken($blue, 10%);
		}
		&.cancel {
			background-color: $orange;
			border-color: darken($orange, 10%);
		}
	}

	table {
		margin-left: auto;
		margin-right: auto;

		min-width: 75%;
		max-width: 100%;

		td, th {
			padding: 0.25em;
			color: hsl(0, 0, 60%);
			padding-left: 1em;
			padding-right: 1em;
			padding-bottom: 1em;
		}
		th {
			text-transform: uppercase;
			font-weight: bold;
			border-bottom: solid 1px hsl(0, 0, 90%);
			padding-bottom: 0.5em;
			font-size: 1.2em;
		}
		thead {
		}
		tbody {
			tr {
				text-align: center;

				&:first-child td {
					padding-top: 1em;
					&.status {
						line-height: 0.85em;
					}
				}
			}
			td.status {
				display: inline;
				font-style: normal;
				font-weight: normal;
				vertical-align: middle;
				font-family: $icons;
				font-size: 60px;
				line-height: 20px;
				padding-right: 0;

				color: hsl(0, 0, 40%);
			}
			em {
				color: $teal;
			}
			strong {
				color: hsl(0, 0, 20%);
			}
		}
	}
}



// Form styling
.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}
