/*
	Place all the styles related to the matching controller here.
	They will automatically be included in application.css.
 */

/*
	Global settings
 */

$icons: "Entypo";
$teal: #4ea694;

html, body {
	width: 100%;
}

html {
	height: 100%;
	font-family: Arial, Verdana, sans-serif;
	margin: 0em;
}


/*
	Header bar
 */
header {
	width: 100%;
	height: 2em;
	background-color: #E43800;
	padding: 0;
}

#welcome-text {
	display: inline-block;
	color: white;
	padding: 0.6em 1em;
	font-size: 0.8em;

	a {
		color: white;
	}
}

#return-text {
	float: right;
	color: white;
	padding: 0.6em 1em;
	font-size: 0.8em;
}

/*
	Toolbar, below header bar
 */
nav {
	width: 100%;
	display: block;
	position: relative;
	height: 5em;
	padding: 0em;
	border-bottom: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
}

#title-container {
	float: left;
	height: 2em;
	padding: 1.5em 4em;
	border-right: 2px solid #E0E0E0;
}

#company-name {
	float: left;
	font-size: 2em;
	padding-right: 0.5em;
	text-transform: uppercase;
}

#reports-text {
	float: left;
	font-size: 1.6em;
	color: #505050;
	padding-top: 0.2em;
}


#all-button {
	float: left;
	height: 3em;
	width: 3em;
	padding: 1em;
	border-right: 2px solid #E0E0E0;
	text-align: center;
}

#all-button-icon {
	font-family: $icons;
	padding-bottom: 1em;
	font-size: 3em;
	line-height: 0.7em;
	margin-bottom: -0.8em;
}

#all-button-text {
	font-size: 0.7em;
}

#queued-button {
	float: left;
	height: 3em;
	width: 3em;
	padding: 1em;
	border-right: 2px solid #E0E0E0;
	text-align: center;
}

#queued-button-icon {
	font-family: $icons;
	padding-bottom: 1em;
	font-size: 3em;
	line-height: 0.7em;
	margin-bottom: -0.8em;
}

#queued-button-text {
	font-size: 0.7em;
}

#completed-button {
	float: left;
	height: 3em;
	width: 3em;
	padding: 1em;
	border-right: 2px solid #E0E0E0;
	text-align: center;
}

#completed-button-icon {
	font-family: $icons;
	padding-bottom: 1em;
	font-size: 3em;
	line-height: 0.7em;
	margin-bottom: -0.8em;
}

#completed-button-text {
	font-size: 0.7em;
}

section {
	background-color: #F0F0F0;
	min-height: 50em;
	border-top: 1px solid #D8D8D8;

	.button {
		display: block;
		border-radius: 5px;
		// width: 100px;
		// height: 35px;
		color: white;

		padding-left: 2em;
		padding-right: 2em;
		padding-top: 0.4em;
		padding-bottom: 0.4em;

		border: solid 1px darken($teal, 10%);

		background-color: $teal;
		text-decoration: none;
	}

	table {
		margin-top: 2em;
		td, th {
			padding: 0.25em;
			color: hsl(0, 0, 60%);
			padding-left: 1em;
			padding-right: 1em;
		}
		th {
			text-transform: uppercase;
		}
		thead {
			border-bottom: solid 1px hsl(0, 0, 60%);
		}
		tbody {
			td.status {
				display: inline;
				vertical-align: top;
				font-family: $icons;
				font-size: 60px;
				line-height: 20px;
				padding-right: 0;

				color: hsl(0, 0, 40%);
			}
			em {
				color: $teal;
			}
			strong {
				color: hsl(0, 0, 20%);
			}
		}
	}
}
