%nav
  #title-container
    #company-name
      = OmeletUi.app_name
    #reports-text
      reports
  #all-button
    #all-button-icon
      M
    #all-button-text
      ALL
  #queued-button
    #queued-button-icon
      S
    #queued-button-text
      QUEUED
  #completed-button
    #completed-button-icon
      F
    #completed-button-text
      FINISHED

%section
  -# = @reports.inspect
  %table
    %thead
      %th
      %th{:width => "60%"} Report
      %th Completed
      %th Actions
    %tbody
      - for report in @reports do
        %tr
          %td.status &#10003;
          %td
            %strong Tithes
            for last week
            %em 6/12/11 – 6/19/11
          %td
            %strong 8:34 PM
            today
          %td= link_to "View", report_path(0), :class => "button view", :target => "_blank"
        %tr
          %td.status &#9888;
          %td
            %strong Donations
            for this year
            %em 6/12/11 – 6/19/11
          %td
            %strong 7:42
            yesterday
          %td= link_to "Retry", report_path(0), :class => "button retry", :target => "_blank"
        %tr
          %td.status &#128340;
          %td
            %strong Roster
            for
            %em Summer Camp 2013
          %td
            %strong 12:50 PM
            today
          %td= link_to "Cancel", report_path(0), :class => "button cancel", :target => "_blank"
