#header
  #welcome-text
    Hey there Jerad. Need to go back to the homepage?
  #return-text
    powered by omelet

#toolbar
  #title-container
    #company-name
      ATARI
    #reports-text
      reports
  #all-button
    #all-button-icon
      M
    #all-button-text
      ALL
  #queued-button
    #queued-button-icon
      S
    #queued-button-text
      QUEUED
  #completed-button
    #completed-button-icon
      F
    #completed-button-text
      FINISHED

#main-content
  = @reports.inspect
