%nav
  #title-container
    #company-name
      = OmeletUi.app_name
    #reports-text
      reports
  #all-button
    #all-button-icon
      M
    #all-button-text
      ALL
  #queued-button
    #queued-button-icon
      S
    #queued-button-text
      QUEUED
  #completed-button
    #completed-button-icon
      F
    #completed-button-text
      FINISHED

%section
  -# = @reports.inspect
  %table
    %thead
      %th
      %th Report
      %th Completed
      %th Actions
    %tbody
      - for report in @reports do
        %tr
          %td.status &#10003;
          %td
            %strong Tithes
            for last week
            %em 6/12/11 – 6/19/11
          %td
            %strong 8:34 PM
            today
          %td= link_to "View", report_path(0), :class => "button view", :target => "_blank"
