%h1 Hey there.
%p Here are all your reports.
%p=@reports.inspect
%p
  You have
  = @reports.count
  reports.
  = @pending.count
  are pending,
  = @running.count
  are running, and
  = @finished.count
  are done!
