%nav
  #title-container
    #company-name
      Atari
    #reports-text
      reports
  #all-button
    #all-button-icon
      M
    #all-button-text
      ALL
  #queued-button
    #queued-button-icon
      S
    #queued-button-text
      QUEUED
  #completed-button
    #completed-button-icon
      F
    #completed-button-text
      FINISHED

%section
  %br ASDFASDFASDF
  = @reports.inspect
