@font-face {
		font-family: 'Entypo';
		src: font-url('omelet_ui/entypo.eot');
		src: font-url('omelet_ui/entypo.eot?#iefix') format('embedded-opentype'),
				 font-url('omelet_ui/entypo.woff') format('woff'),
				 font-url('omelet_ui/entypo.ttf') format('truetype'),
				 font-url('omelet_ui/entypo.svg#Entypo') format('svg');
		font-weight: normal;
		font-style: normal;

}
